:root {
  --header-color: #212121;
  --first-btn-color: #757575;
  --second-btn-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

.body {
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*--------- HEADER  --------------------------*/

.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-connect {
  margin-left: auto;
}

.header-email {
  margin-right: 50px;
}

.header-list {
  display: flex;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
}

.header-email:hover,
.header-email:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* --------------------HERO---------------------- */

.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
  width: 696px;
  height: 120px;
  top: 280px;
  left: 452px;
  margin: 0 auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-btn-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  margin: 30px auto 0px;
  padding: 10px 32px;
}

/* -----------FEATURE---------------- */

.feature {
  background-color: var(--first-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}
.feature-item:not(last child) {
  margin-right: 30px;
}

.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------ABOUT------------------ */

.about {
  background-color: var(--first-title-color);
  padding: 0px 215px 94px;
}

.about-list {
  display: flex;
}

.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.about-item:not(last child) {
  margin-right: 30px;
}

/* ----------------TEAM----------------- */

.team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  background-color: var(--second-btn-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-img-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-img-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -------------NAV---------------------------- */
.nav {
  padding-top: 94px;
  padding-bottom: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.nav-btn {
  font-family: Roboto;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f5f4fa;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
}

.nav-btn {
  margin-right: 8px;
}
/* -------------PORTFOLIO--------------- */

.portfolio {
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  width: calc(100% / 3 - 30px);
  height: 404px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  background-color: var(--second-btn-color);
}

.portfolio-img-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.portfolio-img-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}
.portfolio-item-text {
  padding: 20px 24px;
}

/* ----------FOOTER--------------------- */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-link {
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
  width: 145px;
  height: 31px;
}

.footer-maps {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  margin-bottom: 9px;
}

.footer-email {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
